.contendor{
  margin: 40px;
}

span{
  font-size: 50px;
}

.box{
  width: 220px;
  height: 270px;
  box-shadow: 8px 10px 14px -8px #CECECE;
  float: left;
  text-align: center;
  background-color: #F4F1F1;
  padding: 20px 10px;
  margin: 5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  border-radius: 20px;
}

.uno:hover{
  padding-top: 20px;
  background-color: #fff;
  -webkit-transform: scale(1.1);
  color: rgb(81, 151, 196);
  -webkit-transition: all .0.1s ease-in-out;
}

.dos:hover{
  padding-top: 20px;
  background-color: #fff;
  -webkit-transform: scale(1.1);
  color: rgb(255, 130, 0);
  -webkit-transition: all .0.3s ease-in-out;
}

.tres:hover{
  padding-top: 20px;
  background-color: #fff;
  -webkit-transform: scale(1.1);
  color: rgb(226, 36, 52);
  -webkit-transition: all .0.3s ease-in-out;
}

.cuatro:hover{
  padding-top: 20px;
  background-color: #fff;
  -webkit-transform: scale(1.1);
  color: rgb(255, 215, 8);
  -webkit-transition: all .0.3s ease-in-out;
}

.cinco:hover{
  padding-top: 20px;
  background-color: #fff;
  -webkit-transform: scale(1.1);
  color: rgb(36, 226, 95);
  -webkit-transition: all .0.3s ease-in-out;
}

h1, p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h5{
  font-family: 'Courgette', cursive;
  color: #777777
}
